<gallery>

    <main class="container">
        <div class="row">
            <gallery-item each="{ images }"
                          imgid="{ id }"
                          imgurl="{ url }"
                          imgname="{ name }">
            </gallery-item>
        </div>
    </main>

    <script>

        var id = 0;
        this.images = [
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash' + id, id: "slash" + id++},
            {url: 'img/slash.jpg', name: 'Slash', id: "slash"}
        ]
    </script>

</gallery>
